
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<br /> @await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

<body>

    
    <br /> @await Html.PartialAsync("/Views/AdminLayout/PreloaderPartial.cshtml")
    
    <div id="main-wrapper">


        <br /> @await Html.PartialAsync("/Views/AdminLayout/NavheaderPartial.cshtml")
        
        <br /> @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

        <br /> @await Html.PartialAsync("/Views/AdminLayout/SidebarPartial.cshtml")
        
        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <br /> @await Html.PartialAsync("/Views/AdminLayout/FooterPartial.cshtml")
        
    </div>
   
    <br /> @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")

</body>

</html>
